::-webkit-scrollbar {
    width: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#noticias {
    display: none;
}

#noticias > * {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.decimo {
    grid-column: 2;
}

#url {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px auto;
}

@media (max-width: 640px){
    .decimo {
        grid-column: 1;
    }
}